body {
    font-family: Arial, sans-serif;
    background-color: #44090b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-family: Arial, sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
}

.square-container {
    background-color: #fffbfb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.square-container > * {
    margin: 40px;
}
.flex-container {
    background-color: #fffbfb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #44090b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2, ul, li, button, img {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-container,.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square-container {
    background-color: #fffbfb;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.square-container > * {
    margin: 10px;
}